// Plain colors for dev
// :root {
// --black: rgb(41, 41, 41);
// --dark-grey: rgb(150, 150, 150);
// --light-grey: rgb(228, 228, 228);
// --red: rgb(187, 46, 46);
// --white: rgb(255, 255, 255);
// }

// Light mode
:root {
  --black: rgb(2, 71, 2);
  --dark-grey: rgb(96, 160, 115);
  --light-grey: rgb(206, 233, 196);
  --red: rgb(206, 66, 66);
  --white: rgb(238, 236, 228);
}

// Dark mode
// :root {
//   --light-grey: rgb(2, 71, 2);
//   --dark-grey: rgb(96, 160, 115);
//   --black: rgb(206, 233, 196);
//   --red: rgb(206, 66, 66);
//   --white: rgb(43, 42, 42);
// }
